.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.corpo {
  width: 90px;
  height: 60px;
  background-color: rgb(53, 53, 199);
}

.topo {
  width: 100px;
  height: 25px;
  background-color: rgb(110, 110, 253);
}

.laco1 {
  position: absolute;
  width: 15px;
  height: 85px;
  background-color: rgb(255, 70, 70);
}
.laco2 {
  position: absolute;
  top: 40px;
  width: 90px;
  height: 15px;
  background-color: rgb(255, 70, 70);
}
